{% extends "base.html" %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Verify Your Identity</h2>
        <p class="mt-2 text-center text-sm text-gray-600">Enter the code sent to <strong>{{ email }}</strong></p>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="{{ url_for('verify_login_otp') }}" method="POST">
            <div>
                <label for="otp" class="block text-sm font-medium leading-6 text-gray-900">One-Time Code</label>
                <div class="mt-2">
                    <input id="otp" name="otp" type="text" pattern="\d{6}" maxlength="6" inputmode="numeric" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 text-center tracking-[.5em]">
                </div>
            </div>
            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500">Verify and Log In</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}