{% extends "landing/auth_base.html" %}

{% block title %}Set up &middot; Karani{% endblock %}
{% block kicker %}First run{% endblock %}
{% block heading %}Claim this instance.{% endblock %}
{% block note %}The email you use here becomes the only way in. There is no password &mdash; an authenticator app on your phone is set up in the next step.{% endblock %}

{% block form %}
<form action="{{ url_for('setup') }}" method="POST">
    <div class="field">
        <label for="email">Admin email</label>
        <input id="email" name="email" type="email" autocomplete="email" required autofocus
               placeholder="you@yourbusiness.co.tz">
    </div>
    <button type="submit" class="btn btn--block">Continue</button>
</form>
{% endblock %}
